* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*<<<<<<<<<<<<<<<<<'REGISTRO'>>>>>>>>>>>>>>>>>*/
body{
    background-color: #eaeded;
}
.title{
    text-align: center;
    font-size: 20px;
    color: #0097A7;
}
section.login{
    margin: 60px auto;
    width: 300px;
    border-radius: 20px;
    background: #fff;
    padding: 25px;
    color: #666;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);

}
section.login div{
    margin: 10px 0;
}
section.login input{
    width: 100%;
    border: 1px solid #69c9d6;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    color: #666;
    font-size: 18px;
}
section.login button{
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    padding: 7px;
    color: white;
    background-color: #69c9d6;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 20px;
}

section.login button:hover {
    color: #69c9d6;
    background: #fff;
    border: 1px solid #69c9d6;
    transition: .4s all ease;
}

span.error{
    color: red;
    font-size: 13px;
}
section.login div.register{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
}
section.login div.register p{
    font-size: .9em;
}
section.login div.register a{
    text-decoration: none;
    color: #69c9d6
}
